# heuristic worker
dirhash~=0.2.1
tqdm~=4.64.0

# exploration server
fastapi~=0.79.0
pandas==1.5.0
uvicorn[standard]~=0.18.2

# regression
scikit-learn~=1.1.2

# distill3
torch
transformers

# distill4
-r avrae/requirements.txt

# human eval
humanize~=4.4.0
markdown2~=2.4.6
profanityfilter
pydantic
statsmodels
nltk

# automated eval
evaluate
git+https://github.com/google-research/bleurt.git
bert_score
